@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Playfair+Display|Montserrat|Oswald:300,400|Ubuntu:400,700');

#titleText{
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.25em;
  margin-top: 5px;
}
.quoteText{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-top: 10px;
}
