@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Playfair+Display|Montserrat|Oswald:300,400');

#titleText {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 15px;
}
.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 15px;
}
.labelText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.inputText {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  text-align: center;
}
#videoLink {
  font-size: 1.5em;
  width: 550px;
  margin-left: 30px;
}
#minTime {
  margin-left: 30px;
}
#maxTime {
  margin-left: 26px;
}
