html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #525252;
}

a {
    text-decoration: none;
    color: #cb3837;
}

.container {
    text-align: center;
}
html, body, video {
  height: 200px;
  width: 200px;
  margin: 0;
}
video {
  display: block;
}
